<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="p-3">
                                <table class="table-responsive w-full rounded">
                                    <thead>
                                      <tr>
                                        <th class="border w-1/4 px-4 py-2">Email Id</th>
                                        <th class="border w-1/6 px-4 py-2">Message</th>


                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in msg %}
                                        <tr>
                                            <td class="border px-4 py-2">{{i.Email}}</td>
                                            <td class="border px-4 py-2">{{i.Message}}</td>

                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% if messages %}
      {% for i in messages %}
           {% if i.tags == 'warning' %}
               <script>
                    swal('{{i}}','','warning');
               </script>
           {% elif i.tags == 'error' %}
               <script>
                    swal('{{i}}','','error');
               </script>
           {% else %}
               <script>
                    swal('{{i}}','','success');
               </script>
           {% endif %}
        {% endfor %}
    {% endif %}
</body>

</html>
{% endblock %}